*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 16px "Poppins", sans-serif;
  color: #000000;
  line-height: 24px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 997px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 576px) {
  body {
    font-size: 13px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

a:hover {
  display: inline-block;
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  color: #A0A0A0;
}

.header {
  padding: 23px 15px 12px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 576px) {
  .header {
    padding: 19px 3px 13px;
  }
}
.header__inner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px 20px;
}
@media screen and (max-width: 997px) {
  .header__inner-flex {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header__inner-flex {
    padding-left: 0;
  }
}
@media screen and (max-width: 997px) {
  .header__box-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.header__box-2 {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 997px) {
  .header__box-2 {
    width: 100%;
    text-align: right;
    display: block;
    margin-top: 15px;
    background-color: #ECE7E4;
  }
}
.header__logo {
  margin-top: 7px;
}
.header__menu {
  display: none;
}
@media screen and (max-width: 997px) {
  .header__menu {
    display: block;
  }
}
.header__menu-btn {
  font-size: 30px;
  color: #000000;
  display: inline-block;
}

.logo_img-header {
  width: 86%;
}
@media screen and (max-width: 576px) {
  .logo_img-header {
    width: 70%;
  }
}

.navigation-list {
  list-style: none;
  margin: 0;
  font-size: 15px;
  padding-left: 0;
}
@media screen and (max-width: 997px) {
  .navigation-list {
    display: none;
    padding: 15px 20px;
  }
}
@media screen and (max-width: 576px) {
  .navigation-list {
    font-size: 13px;
  }
}
.navigation-list__item {
  display: inline-block;
  margin-left: 28.5px;
}
@media screen and (max-width: 997px) {
  .navigation-list__item {
    display: block;
    margin-bottom: 7px;
  }
}
.navigation-list__link {
  text-decoration: none;
  color: inherit;
}
.navigation-list__btn-link {
  margin-left: 2px;
}

.btn-link {
  display: inline-block;
  text-decoration: none;
  border-radius: 13px;
}
.btn-link_black {
  color: #FFFFFF;
  background-color: #000000;
  padding: 11px 29px 10px 22px;
  letter-spacing: 0.4px;
}
@media screen and (max-width: 997px) {
  .btn-link_black {
    font-size: 15px;
    color: #A0A0A0;
    background-color: inherit;
    border: none;
    padding: 0;
  }
}
.btn-link_transparent {
  background-color: transparent;
  border: 1px solid #000000;
  color: inherit;
  padding: 11px 34px 10px 32px;
}
.btn-link_transparent:hover {
  border-color: #A0A0A0;
}
@media screen and (max-width: 997px) {
  .btn-link_transparent {
    padding: 7px 15px;
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .btn-link_transparent {
    padding: 3px 14px;
    font-size: 9px;
  }
}

.main-block__inner-flex {
  display: flex;
  align-items: stretch;
}
@media screen and (max-width: 768px) {
  .main-block__inner-flex {
    display: block;
  }
}
.main-block__content-block {
  background-color: #ECE7E4;
  width: 50%;
  padding: 8.7% 7% 5% 6.6%;
}
@media screen and (max-width: 997px) {
  .main-block__content-block {
    padding: 3% 3%;
  }
}
@media screen and (max-width: 768px) {
  .main-block__content-block {
    width: 100%;
    padding: 3% 5%;
  }
}
@media screen and (max-width: 576px) {
  .main-block__content-block {
    text-align: center;
  }
}
.main-block__small-text {
  margin-top: 12px;
}
.main-block__title {
  font-size: 64px;
  line-height: 70.4px;
  font-weight: normal;
  margin: 20px 0 19px;
}
@media screen and (max-width: 997px) {
  .main-block__title {
    font-size: 50px;
    line-height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .main-block__title {
    font-size: 51px;
    line-height: 55px;
  }
}
@media screen and (max-width: 576px) {
  .main-block__title {
    font-size: 37px;
    line-height: 42px;
  }
}
.main-block__img-block {
  width: 51%;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .main-block__img-block {
    width: 100%;
    height: 450px;
    padding: 0 36px;
    background-color: #ECE7E4;
  }
}
@media screen and (max-width: 576px) {
  .main-block__img-block {
    padding: 0;
    height: 100%;
  }
}
.main-block__img {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .main-block__img {
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .main-block__img {
    height: auto;
  }
}
.main-block__btn-link {
  margin: 13px 0 0 6px;
}
@media screen and (max-width: 997px) {
  .main-block__btn-link {
    margin: 0;
  }
}

.our-firm {
  margin-top: 5%;
  padding-bottom: 9%;
}
@media screen and (max-width: 768px) {
  .our-firm {
    margin-top: 2%;
  }
}
@media screen and (max-width: 576px) {
  .our-firm {
    text-align: center;
  }
}
.our-firm__inner-flex {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .our-firm__inner-flex {
    display: block;
    padding: 15px 26px;
  }
}
.our-firm__small-title-block {
  width: 40%;
  padding: 18px 0 0 17.5%;
}
@media screen and (max-width: 768px) {
  .our-firm__small-title-block {
    padding: 0;
    width: 100%;
  }
}
.our-firm__content-block {
  width: 60%;
  padding: 6px 18% 0 0;
}
@media screen and (max-width: 768px) {
  .our-firm__content-block {
    padding: 0;
    width: 100%;
  }
}
.our-firm__text {
  margin-bottom: 0;
}
.our-firm_mt {
  margin-top: 10px;
}
.our-firm__author-block {
  display: flex;
  margin-top: 19px;
  align-items: center;
  width: 300px;
}
@media screen and (max-width: 576px) {
  .our-firm__author-block {
    justify-content: center;
    margin: 19px auto 0;
    width: 250px;
  }
}
.our-firm__img {
  width: 27.5%;
  height: auto;
  margin-right: 32px;
}
@media screen and (max-width: 576px) {
  .our-firm__img {
    width: 23.5%;
    margin-right: 10px;
  }
}
.our-firm__author-info {
  margin-top: 10px;
}
@media screen and (max-width: 576px) {
  .our-firm__author-info {
    text-align: left;
  }
}
.our-firm__author-name {
  font-size: 17px;
  line-height: 9px;
  display: block;
}
@media screen and (max-width: 997px) {
  .our-firm__author-name {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .our-firm__author-name {
    font-size: 15px;
    line-height: 11px;
  }
}
@media screen and (max-width: 576px) {
  .our-firm__author-name {
    font-size: 13px;
  }
}
.our-firm__author-position {
  font-size: 14px;
  line-height: 14px;
}
@media screen and (max-width: 997px) {
  .our-firm__author-position {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .our-firm__author-position {
    font-size: 12px;
  }
}

.small-title-block__title {
  font-size: 32px;
  line-height: 38px;
}
@media screen and (max-width: 768px) {
  .small-title-block__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .small-title-block__title {
    font-size: 27px;
  }
}

.small-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  font-size: 14px;
}
@media screen and (max-width: 997px) {
  .small-text {
    font-size: 12px;
    line-height: 17px;
  }
}
@media screen and (max-width: 576px) {
  .small-text {
    font-size: 9px;
  }
}

.house-block {
  position: relative;
}
@media screen and (max-width: 576px) {
  .house-block {
    padding-bottom: 15%;
  }
}
.house-block__inner {
  padding: 21% 0 20.6% 0;
}
@media screen and (max-width: 768px) {
  .house-block__inner {
    padding: 20.5% 0;
  }
}
.house-block_bg-house {
  background: url(../../images/house.jpg) 50% 50%/100% no-repeat;
}
.house-block_bg-house2 {
  background: url(../../images/staircase.jpg) 50% 50%/100% no-repeat;
}
.house-block__content {
  width: 19%;
  position: absolute;
  top: 42%;
  right: 6%;
}
@media screen and (max-width: 768px) {
  .house-block__content {
    width: 27%;
  }
}
@media screen and (max-width: 576px) {
  .house-block__content {
    width: 100%;
    top: 77%;
    right: 0;
    text-align: center;
    padding: 0 10px;
  }
}
.house-block__text {
  margin-top: 0;
}
@media screen and (max-width: 576px) {
  .house-block__text {
    font-size: 11px;
  }
}
.house-block__small-text {
  margin-bottom: 0;
}
@media screen and (max-width: 997px) {
  .house-block__small-text {
    margin-bottom: 5px;
  }
}

.our-process {
  text-align: center;
  padding: 6% 0 6.5% 0;
}
@media screen and (max-width: 768px) {
  .our-process {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .our-process__box {
    padding-left: 33px;
  }
}
@media screen and (max-width: 576px) {
  .our-process__box {
    padding: 13px 10px 0;
    text-align: center;
  }
}
.our-process__inner-flex {
  display: flex;
  justify-content: space-between;
  width: 81%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .our-process__inner-flex {
    display: block;
    padding: 0 30px 0 33px;
    margin: 0;
    width: 100%;
  }
}
.our-process__column-block {
  padding-top: 45px;
  font-size: 15px;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .our-process__column-block {
    width: 100%;
    padding-top: 25px;
  }
}
.our-process__mini-title {
  font-size: 18px;
  line-height: 26px;
  margin: 9px 0 0 27px;
}
@media screen and (max-width: 997px) {
  .our-process__mini-title {
    font-size: 17px;
  }
}
@media screen and (max-width: 768px) {
  .our-process__mini-title {
    margin-left: 0;
    line-height: 10px;
    font-size: 17px;
  }
}
@media screen and (max-width: 576px) {
  .our-process__mini-title {
    text-align: center;
    font-size: 14px;
  }
}
.our-process_mini-t2 {
  margin-left: 0;
}
.our-process_img1 {
  margin-left: 28px;
}
.our-process_text-p1 {
  padding: 0 21px 0 49px;
  margin-top: 9px;
}
@media screen and (max-width: 997px) {
  .our-process_text-p1 {
    font-size: 14px;
    line-height: 22px;
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .our-process_text-p1 {
    font-size: 13px;
  }
}
.our-process_text-p2 {
  padding: 0 33px 0 30px;
  margin-top: 9px;
  font-size: 16px;
}
@media screen and (max-width: 997px) {
  .our-process_text-p2 {
    font-size: 14px;
    line-height: 22px;
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .our-process_text-p2 {
    font-size: 13px;
  }
}
.our-process_img3 {
  margin-right: 25px;
}
@media screen and (max-width: 997px) {
  .our-process_img3 {
    margin-right: 0;
  }
}
.our-process_mini-t3 {
  width: 30%;
  margin-left: 31%;
}
@media screen and (max-width: 997px) {
  .our-process_mini-t3 {
    margin-left: 0;
    width: 100%;
  }
}
.our-process_text-p3 {
  padding: 0 44px 0 20px;
  margin-top: 9px;
  font-size: 16px;
}
@media screen and (max-width: 997px) {
  .our-process_text-p3 {
    font-size: 14px;
    line-height: 22px;
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .our-process_text-p3 {
    font-size: 13px;
  }
}
@media screen and (max-width: 997px) {
  .our-process__img-block {
    width: 40%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .our-process__img-block {
    width: 13%;
  }
}
@media screen and (max-width: 576px) {
  .our-process__img-block {
    width: 18%;
  }
}
@media screen and (max-width: 997px) {
  .our-process__img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 997px) {
  .our-process_img-block-w2 {
    width: 46%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .our-process_img-block-w2 {
    width: 15%;
  }
}
@media screen and (max-width: 576px) {
  .our-process_img-block-w2 {
    width: 21%;
  }
}
.our-process__text {
  color: #717171;
}
@media screen and (max-width: 576px) {
  .our-process__text {
    text-align: center;
  }
}
.our-process__border {
  display: none;
  width: 65%;
  height: 1px;
  background-color: #E0E0E0;
  margin: 30px auto 0;
}
@media screen and (max-width: 576px) {
  .our-process__border {
    display: block;
  }
}

.medium-title-block__title {
  font-size: 39px;
  line-height: 42px;
}
@media screen and (max-width: 997px) {
  .medium-title-block__title {
    font-size: 36px;
    line-height: 39px;
  }
}
@media screen and (max-width: 768px) {
  .medium-title-block__title {
    font-size: 34px;
    line-height: 35px;
  }
}
@media screen and (max-width: 576px) {
  .medium-title-block__title {
    font-size: 27px;
    line-height: 30px;
  }
}
