.house-block {
  position: relative;

  @include small {
    padding-bottom: 15%;
  }

  &_bg-house {
    background:  url(../../images/house.jpg) 50% 50%/100% no-repeat;
    padding: 21% 0 20.6% 0;

    @include medium {
      padding: 20.5% 0;
    }
  }

  &_bg-house2 {
    background:  url(../../images/staircase.jpg) 50% 50%/100% no-repeat;
    padding: 21.13% 0 20.6% 0;

    @include medium {
      padding: 20.5% 0;
    }
  }

  &_bg-house3 {
    background:  url(../../images/swirling.jpg) 50% 50%/100% no-repeat;
    padding: 21.13% 0 20.6% 0;

    @include medium {
      padding: 20.5% 0;
    }
  }

  &__content {
    width: 19%;
    position: absolute;

    @include medium {
      width: 27%;
    }

    @include small {
      width: 100%;
      top: 77%;
      right: 0;
      text-align: center;
      padding: 0 10px;
    }
  }

  &_right {
    top: 42%;
    right: 6%;

    @include small {
      left: 0;
      top: 73%;
    }
  }

  &_left {
    top: 42%;
    left: 12.5%;

    @include small {
      left: 0;
      top: 73%;
    }
  }

  &__text {
    margin-top: 0;

    @include medium {
      font-size: 11px;
      line-height: 16px;
    }

    @include small {
      font-size: 11px;
    }
  }

  &__small-text {
    margin-bottom: 0;

    @include large {
      margin-bottom: 5px;
    }
  }
}